.page {
  /*  background-color: rgb(0, 0, 0);*/
  background-image: url("../Images/BackGround.jpg");
  background-size: cover;
  min-height: 100dvh;
  text-rendering: optimizeLegibility;
  margin: auto;
}
